 <div class="container userlist clearfix">
	<div class="mainmenu">
			<ul class="menu " id="menu">
				
				<li class="munu_li"><a  href="#/rates">Aliquote</a></li>
				<li class="munu_li"><a  href="#/storemovement">Causali Magazzino</a></li>
				<li class="munu_li"><a href="#/customercategory" >Clienti: Categorie</a></li>
				<li class="munu_li"><a href="#/customergroup" >Clienti: Gruppi</a></li>
				<li class="munu_li"><a  href="#">Documenti: Contatori</a></li>
				<li class="munu_li"><a  href="#">Documenti: Pagamenti</a></li>
				<li class="munu_li"><a  href="#">Documenti: Tipologia</a></li>
				<li class="munu_li"><a  href="#">Fornitori: Categorie</a></li>
				<li class="munu_li"><a  href="#">Fornitori: Gruppi</a></li>
				<li class="munu_li"><a  href="#" >Prodotti: Categorie </a></li>
				<li class="munu_li"><a  href="#" >Prodotti: Marche </a></li>
				<li class="munu_li"><a  href="#" >Prodotti: Gruppi </a></li>
				<li class="munu_li"><a  href="#" >Prodotti: Unita' di Misura </a></li>
			</ul>
				</div>
 </div>