<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row show-for-medium-up" >
	<div class="large-4 medium-4 small-12 logo columns">
		<img src="assets/rocchilogo.png" />
	</div>
	<div class="large-8 medium-8  small-12 columns">
		<div class="row">
			<div class="large-12 small-12 columns">
				<h3 class="title" >Categorie Clienti</h3>
			</div>
			
		</div>
	</div>
</div>
<div class="row show-for-medium-up" >
	<div class="large-8 medium-8 small-8 columns">
		<ul class="button-group header_menu_button">
		    <li><a  class="button" go-back><i class="fi-arrow-left"  ></i></a></li>
		  	<li ><a ng-click="addcustomercategoryElement()" ng-if="customercategorysaved == true" class="button"><i class="fi-plus" ></i></a></li>
		  	<li ><a ng-click="savecustomercategorys()"  class="button"><i class="fi-save" ></i></a></li>
		  <!--  	<li><a href="#" class="button" ng-click="showfilter = !showfilter"><i class="fi-magnifying-glass"  ></i></a></li>-->
		  	<!-- <li ng-if="auth.permission != conf_permission.Promoter"><a ng-click="filterMenu('import')" class="button"><i class="fi-arrow-left"  ></i></a></li>-->
		 	<!-- <li><a ng-click="printMassElements()" class="button"><i class="fi-print"  ></i></a></li> -->
		</ul>
	</div>
</div>
<!--  <div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3>CATEGORIE CLIENTI</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="addcustomercategoryElement()" ng-if="customercategorysaved == true" class="button">Aggiungi</a></li>
		  	<li><a ng-click="savecustomercategorys()" class="button">Salva</a></li>
		</ul>
	</div>
</div>-->
<div class="row">
	<div class="large-12 medium-12 small-12">
	
		<table st-table="customercategorysToDisplay" class="table table-striped" st-safe-src="customercategorys" >
			<thead>
				<tr>
					<th >&nbsp;</th>
					<th st-sort="code"  st-sort-default="anything" st-skip-natural="true" >Codice</th>
					<th  st-sort="name"  st-skip-natural="true">Nome</th>
					<th >Descrizione</th>
					<th >Note</th>
					<th >&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customercategory in customercategorysToDisplay ">
					<td ><i class="icon_setup fi-pencil"  ng-click="modifycustomercategoryElement(customercategory.idCategoryCustomer)" ></i></td>
					<td   ><div ng-if="modifyid != customercategory.idCategoryCustomer">&nbsp;{{customercategory.code}}</div><div><input class="input_field"  ng-if="modifyid == customercategory.idCategoryCustomer" ng-model="customercategory.code"  value="{{customercategory.code}}" />  </div></td>
					<td   ><div ng-if="modifyid != customercategory.idCategoryCustomer">&nbsp;{{customercategory.name}}</div><div><input class="input_field"  ng-if="modifyid == customercategory.idCategoryCustomer" ng-model="customercategory.name"  value="{{customercategory.name}}" />  </div></td>
					<td  ><div ng-if="modifyid != customercategory.idCategoryCustomer">&nbsp;{{customercategory.description}}</div><div><input class="input_field"  ng-if="modifyid == customercategory.idCategoryCustomer" ng-model="customercategory.description"  value="{{customercategory.description}}" />  </div></td>
					<td  ><div ng-if="modifyid != customercategory.idCategoryCustomer">&nbsp;{{customercategory.note}}</div><div><input class="input_field"  ng-if="modifyid == customercategory.idCategoryCustomer" ng-model="customercategory.note"  value="{{customercategory.note}}" />  </div></td>
					<td ><i class="icon_setup fi-x-circle"  id="del{{role.idrole}}" ng-click="deleteElement(customercategory)" ></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
