<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="wiz.msg.type != ''">
		<alert  class="{{wiz.msg.type}}" close="wiz.msg.initialize()">{{wiz.msg.message}}</alert>
	</div>
</div>
<div class="row" ng-show="wiz.showDraftManage">
	<div class="large-12 columns">
		<div class="button-group">
			<button class="button tiny warning" ng-click="wiz.restoreDraft()">Ripristina</button>
			<button class="button tiny warning" ng-click="wiz.resetDraft()">Cancella</button>
			<button class="button tiny warning" ng-click="wiz.mantainDraft()">Mantieni</button>
			<button class="button tiny warning" ng-click="wiz.saveDraftHead('time')">Crea Preventivo</button>
			<button class="button tiny warning" ng-click="wiz.saveDraftHead('normal')">Crea Ordine</button>
		</div>
	</div>
</div>
<div class="row draft_display btn_status  show-for-small-only " go-back >
	<i class="fi-arrow-left"></i>
</div>


<div class="row  header_reserved_area ">
	<div class="large-3 medium-3 small-12 logo columns">
		<img src="assets/rocchilogo.png" />
	</div>
	<div class="large-9 medium-9  small-12 columns">
		<div class="row">
			<div class="large-12 small-12 columns">
				<h5 class="title" >Nuovo Documento</h5>
			</div>
			<div class="large-12 small-12 columns">
				<h3 class="subtitle">{{wiz.head.customer.customername}}</h3>
			</div>
		</div>
	</div>
</div>
<div class="row show-for-medium-up" >
	<div class="large-8 medium-8 small-8 columns">
		<ul class="button-group header_menu_button">
		    <li><a  class="button" go-back><i class="fi-arrow-left"  ></i></a></li>
		  	<li ng-show=" tabs[0].name != wiz.selected && !wiz.head.idHead > 0" ><a ng-click="setSelection(tabs[0])" class="button"><i class="{{tabs[0].title}}" ></i></a></li>
		  	<li ng-show="tabs[1].disable && wiz.head.customer" ><a ng-click="gotoStep2()"  class="button"><i class="{{tabs[1].title}}" ></i></a></li>
		  	<li ng-show="!tabs[1].disable && tabs[1].name != wiz.selected && wiz.head.idHead == 0" ><a ng-click="setSelection(tabs[1])" class="button"><i class="{{tabs[1].title}}" ></i></a></li>
		  	<li ng-show="wiz.head.rows.length > 0 &&  tabs[2].name != wiz.selected && wiz.head.idHead == 0 " ><a ng-click="setSelection(tabs[2])" class="button"><i class="{{tabs[2].title}}" ></i></a></li>
		  	<li ng-show=" tabs[2].name == wiz.selected && wiz.head.idHead == 0 "  ><a  class="button" ng-click="wiz.saveHead('normal')"><i class="fi-save"  ></i></a></li>
		  	<li ng-show=" tabs[2].name == wiz.selected && wiz.head.idHead == 0 "  ><a  class="button" ng-click="wiz.saveHead('time')"><i class="fi-pause"  ></i></a></li>
		  	<li ng-show=" tabs[2].name == wiz.selected && wiz.head.idHead != 0 "  ><a ng-click="wiz.printHead()" class="button"><i class="fi-print"  ></i></a></li>
		  	<li ng-show=" tabs[2].name == wiz.selected && wiz.head.idHead != 0 " ><a  ng-click="wiz.reload()" class="button"><i class="fi-plus"  ></i></a></li>
		 	
		</ul>
	</div>
</div>
<div class="row draft_display_pos1 btn_status show-for-small-only "     >
	<i class="{{tabs[0].title}}" ng-click="setSelection(tabs[0])" ng-show=" tabs[0].name != wiz.selected && !wiz.head.idHead > 0"></i>
</div>
<div class="row draft_display_pos2 btn_status show-for-small-only "     >
	<i class="{{tabs[1].title}}" ng-click="setSelection(tabs[1])" ng-show="!tabs[1].disable && tabs[1].name != wiz.selected && wiz.head.idHead == 0" ></i>
</div>
<div class="row draft_display_pos3 btn_status show-for-small-only "     >
	<i class="{{tabs[2].title}}" ng-click="setSelection(tabs[2])" ng-show="wiz.head.rows.length > 0 &&  tabs[2].name != wiz.selected && wiz.head.idHead == 0 "></i>
</div>
<div class="row draft_display_pos3 btn_status show-for-small-only " ng-show=" tabs[2].name == wiz.selected && wiz.head.idHead == 0 "  >
	<i class="fi-save" ng-click="wiz.saveHead('normal')"></i>
</div>
<div class="row draft_display_pos4 btn_status show-for-small-only " ng-show=" tabs[2].name == wiz.selected && wiz.head.idHead == 0 "  >
	<i class="fi-pause" ng-click="wiz.saveHead('time')"></i>
</div>

<div class="row draft_display_pos1 btn_status show-for-small-only "  ng-show=" tabs[2].name == wiz.selected && wiz.head.idHead != 0 "  >
	<i class="fi-print" ng-click="wiz.printHead()"></i>
</div>
<div class="row draft_display_pos4 btn_status show-for-small-only " ng-show=" tabs[2].name == wiz.selected && wiz.head.idHead != 0 "  >
	<i class="fi-plus" ng-click="wiz.reload()"></i>
</div>
<div class="large-12 columns">
<!--  	<div class="row show-for-medium-up" >
		<div class="button-group">
		    <button  type="button" class="button"  go-back  ><i class="fi-arrow-left" ></i></button>
	        <button ng-repeat="tab in tabs" type="button" class="button" ng-model="tabselected" btn-checkbox ng-disabled="tab.disable" ng-click="setSelection(tab)"  btn-radio="{{tab.name}}"><i class="{{tab.title}}" ></i></button>
	    </div>
	</div>-->
	<div ng-repeat="element in tabs" class="row"  >
		<div ng-if="element.name == wiz.selected" ng-include="element.template" ng-controller="WizardStepsCtrl"  ></div>
	</div>
</div>
      
<div class="row show-for-small-only heads_list_item">

</div>



