<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="row pro_container">
     	<div class="large-4 small-12 columns">
     
              <img  src="assets/rocchilogo.png">
        </div>
        <div class="large-8 small-12 columns">
        	<form >
        				<div class="row">
							<div class="large-12 columns">
								<h3>RESET PASSWORD</h3>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input type="password" name="password" placeholder="Password" ng-model="user.password" />
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input type="password" name="password" placeholder="Conferma Password" ng-model="user.confirmpassword" />
							</div>
						</div>
					    
						<div class="row"  >
							<div class="large-12 large-centered columns">
								<button  class="button expand"  ng-click="registry()" >Registrati</button>
								
							</div>
						</div>
					</form>
        </div>
    </div>
</div>