	<div class="row  header_reserved_area ">
		<div class="large-3 medium-3 small-12 logo columns">
			<img src="assets/logo.jpg" />
		</div>
		<div class="large-9 medium-9 hide_mobile_view small-12 columns">
			<div class="row">
				<div class="large-12 small-12 columns">
					<h5 class="title" >Invoice Creator</h5>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row header_space ">
	</div>
 	<div class="row  ">

	        <div class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns" ng-click="location.path('/head/0')">
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-page-filled "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Nuova fattura</div>
	        	</div>
	        </div>
</div> 
<div class="row  "  ng-if=" auth.permission == conf_permission.Promoter" >
	        <div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns"  ng-click="location.path('/headlist/1/1')"  >
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-list "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Le mie fatture</div>
	        	</div>
	        	
	        </div>

	</div>    
	<div class="row  "  ng-if=" auth.permission != conf_permission.Promoter" >
	        <div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns"  ng-click="location.path('/headlist/1/2')"  >
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-page-multiple "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Documenti</div>
	        	</div>
	        	
	        </div>

	</div>  
	<div class="row  "  ng-if=" auth.permission == conf_permission.Promoter" >    
	     	 <div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns" ng-if=" auth.permission == conf_permission.Promoter" ng-click="location.path('/customer/0')">
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-torsos "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Nuovo Cliente</div>
	        	</div>
	        	
	     	</div>
	     	</div> 
	     	
<div class="row  ">    
	     	 <div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns"  ng-click="location.path('/customer')">
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-torsos-all "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Elenco Clienti</div>
	        	</div>
	        	
	     	</div>
</div> 

<div class="row" ng-if=" auth.permission != conf_permission.Promoter">    
	     	 <div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns"  ng-click="location.path('/list')">
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-pricetag-multiple "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Elenco Listini</div>
	        	</div>
	        	
	     	</div>
</div> 

<div class="row  " ng-if=" auth.permission != conf_permission.Promoter">    
	     	 <div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns"  ng-click="location.path('/product')">
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-bookmark "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Elenco Prodotti</div>
	        	</div>
	        	
	     	</div>
</div> 

<!--  
<div class="row  " ng-if=" auth.permission != conf_permission.Promoter" >    
	     	 <div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns"  ng-click="location.path('/promoter')">
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-torso-business "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Elenco Rappresentanti</div>
	        	</div>
	        	
	     	</div>
</div> 

-->
 

<div class="row  " ng-if=" auth.permission != conf_permission.Promoter">
	       	<div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns"  ng-click="location.path('/company')">
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-star "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Azienda</div>
	        	</div>
	        </div>
	</div>





<div class="row  ">
	       	<div  class="small-10 large-6 large-offset-3 medium-8 medium-offset-2  small-offset-1 columns"  ng-click="location.path('/myprofile')">
	        	<div class="menu_button row">
	        		<div class="menu_icon_container large-2 medium-2 small-2 columns" >
	        			<div class="menu_icon" ><i class="fi-torso "></div></i>
	        		</div>
	        		<div class="menu_text large-10 medium-10 small-10 columns ">Profilo</div>
	        	</div>
	        </div>
	</div>