<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row show-for-medium-up" >
	<div class="large-4 medium-4 small-12 logo columns">
		<img src="assets/rocchilogo.png" />
	</div>
	<div class="large-8 medium-8  small-12 columns">
		<div class="row">
			<div class="large-12 small-12 columns">
				<h3 class="title" >Email Aziendale</h3>
			</div>
			
		</div>
	</div>
</div>

<div class="row show-for-medium-up" >
	<div class="large-8 medium-8 small-8 columns">
		<ul class="button-group header_menu_button">
		    <li><a  class="button" go-back><i class="fi-arrow-left"  ></i></a></li>
		  	<li ><a  ng-click="savecompany()" class="button"><i class="fi-save" ></i></a></li>
		  	<li ><a  ng-click="addMailObject()" class="button"><i class="fi-plus" ></i></a></li>
		</ul>
	</div>
</div>


<div class="row" >
	<div class="large-2 small-12 medium-4 columns">
		Email
	</div>
	<div class="large-2 small-12 medium-4 columns">
		Host
	</div>
	<div class="large-1 small-12 medium-4 columns">
		Porta
	</div>
	<div class="large-2 small-12 medium-4 columns">
		Password
	</div>
	<div class="large-1 small-12 medium-4 columns">
		Pec
	</div>
	<div class="large-1 small-12 medium-4 columns">
		auth
	</div>
	<div class="large-1 small-12 medium-4 columns">
		Tls
	</div>
	<div class="large-1 small-12 medium-4 columns">
		&nbsp;
	</div>
</div>
<div class="row" ng-repeat="mail in company.mailconfig">
	
	<div class="large-2 small-12 medium-4 columns">
		<input type="text" ng-model="mail.mailconfig.email" value="{{mail.mailconfig.email}}"  />
	</div>
	<div class="large-2 small-12 medium-4 columns">
		<input type="text" ng-model="mail.mailconfig.host" value="{{mail.mailconfig.host}}" />
	</div>
	<div class="large-1 small-12 medium-4 columns">
		<input type="text" ng-model="mail.mailconfig.port" value="{{mail.mailconfig.port}}" />
	</div>
	<div class="large-2 small-12 medium-4 columns">
		<input type="password" ng-model="mail.mailconfig.password" value="{{mail.mailconfig.password}}" />
	</div>
	<div class="large-1 small-12 medium-4 columns">
		<input type="checkbox" ng-model="mail.mailconfig.pec" value="{{mail.mailconfig.pec}}" />
	</div>
	<div class="large-1 small-12 medium-4 columns">
		<input type="checkbox" ng-model="mail.mailconfig.auth" value="{{mail.mailconfig.auth}}" />
	</div>
	<div class="large-1 small-12 medium-4 columns">
		<input type="checkbox" ng-model="mail.mailconfig.starttls" value="{{mail.mailconfig.starttls}}" />
	</div>
	<div class="large-1 small-12 medium-4 columns">
		<i class="icon_setup fi-x-circle" ng-click="deleteElement(mail)" ></i>
	</div>
</div>