<div class="container userlist clearfix">
	<div class="toolbar_detail">
		<h3>Utente:</h3>
		<div class="buttonmenu savebutton admin" ng-click="saveCompany()">
			<div class="save buttonicon">
			</div>
			<div class="buttonlabel">
				Salva
			</div>
		</div>
		<div class="buttonmenu redobutton ">
			<div class="redo buttonicon">
			</div>
			<div class="buttonlabel">
				Ricarica
			</div>
		</div>
		
	</div>
	<div class="details">
		<div class="generaltable">
			<div class="column_1_2 user">	
				<div class="info">
					<div class="fields">
						<div class="label name">Ragione Sociale *</div>
						<div class="field name"><input class="inputfield" id="ifname" ng-model="company.companyname" value="{{company.companyname}}"  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields ">
						<div class="label surname">Partita Iva *</div>
						<div class="field surnname"><input class="inputfield" id="ifsurname" ng-model="company.companynumber" value="{{company.companynumber}}"  /></div>
						<div class="error" id="val_ifsurname" >Campo obbligatorio</div> 
					</div>
					<div class="fields ">
						<div class="label surname">Codice Fiscale *</div>
						<div class="field surnname"><input class="inputfield" id="ifsurname" ng-model="company.taxcode" value="{{company.taxcode}}"  /></div>
						<div class="error" id="val_ifsurname" >Campo obbligatorio</div> 
					</div>
				</div>
			</div>
			<div class="column_2_2 user">
				<div class="contact">
					<div class="fields">
						<div class="label phone">Indirizzo</div>
						<div class="field phone street"><input class="inputfield street_field " ng-model="company.address.address" value="{{company.address.address}}" /></div>
						<div class="field number"><input class="inputfield " ng-model="company.address.number" value="{{company.address.number}}" /></div>
					</div>
					<div class="fields">
						<div class="label mobile">Città</div>
						<div class="field mobile"><input class="inputfield" ng-model="company.address.city" value="{{company.address.city}}" /></div>
					</div>
					<div class="fields">
						<div class="label email">Provincia</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="company.address.zone" value="{{company.address.zone}}" /></div>
					</div>
					<div class="fields correction">
						<div class="label email">CAP</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="company.address.zipcode" value="{{company.address.zipcode}}" /></div>
					</div>
				</div>
			</div>
		</div>
		<div class="credentials">
			<div class="credential">
				<div class="fields">
					<div class="label phone">Telefono 1</div>
					<div class="field phone"><input class="inputfield" ng-model="company.contact.phone1" value="{{company.contact.phone1}}" /></div>
				</div>
				<div class="fields">
					<div class="label phone">Telefono 2</div>
					<div class="field phone"><input class="inputfield" ng-model="company.contact.phone2" value="{{company.contact.phone2}}" /></div>
				</div>
			</div>
			<div class="credential">
				<div class="fields">
						<div class="label mobile">Cellulare 1</div>
						<div class="field mobile"><input class="inputfield" ng-model="company.contact.mobile1" value="{{company.contact.mobile1}}" /></div>
					</div>
				<div class="fields">
						<div class="label mobile">Cellulare 2</div>
						<div class="field mobile"><input class="inputfield" ng-model="company.contact.mobile2" value="{{company.contact.mobile2}}" /></div>
					</div>
			</div>
			<div class="credential">
				<div class="fields">
						<div class="label email">Email 1</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="company.contact.email1" value="{{company.contact.email1}}" /></div>
						<div class="error" id="val_ifemail" >Campo obbligatorio</div>
						<div class="errormail" id="valmail_ifemail" >Email non valida</div>						
					</div>
				<div class="fields">
						<div class="label email">Email 2</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="company.contact.email2" value="{{company.contact.email2}}" /></div>
						<div class="error" id="val_ifemail" >Campo obbligatorio</div>
						<div class="errormail" id="valmail_ifemail" >Email non valida</div>						
					</div>
			</div>
			<div class="credential">
				<div class="fields">
						<div class="label email">Fax</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="company.contact.fax" value="{{company.contact.fax}}" /></div>
					</div>
				<div class="fields">
						<div class="label email">Contatto</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="company.contact.reference" value="{{company.contact.reference}}" /></div>
					</div>
			</div>
			<div class="credential">
				<div class="fields">
					<div class="label phone">Iban</div>
					<div class="field phone"><input class="inputfield" ng-model="company.bankcontact.iban" value="{{company.bankcontact.iban}}" /></div>
				</div>
				<div class="fields">
					<div class="label phone">Bic Swift</div>
					<div class="field phone"><input class="inputfield" ng-model="company.bankcontact.bicswift" value="{{company.bankcontact.bicswift}}" /></div>
				</div>
			</div>
		<div>
		
	</div>
</div>