<div class="container userlist clearfix">
	<div class="toolbar_detail">
		<h3>Vettore:</h3>
		<div class="buttonmenu savebutton admin" ng-click="saveTransporter()">
			<div class="save buttonicon">
			</div>
			<div class="buttonlabel">
				Salva
			</div>
		</div>
		
		<div class="buttonmenu redobutton ">
			<div class="redo buttonicon">
			</div>
			<div class="buttonlabel">
				Ricarica
			</div>
		</div>
		
	</div>
	<div class="details">
		<div class="generaltable">
			<div class="transporter_main_detail">	
				<div class="info">
					<div class="fields code">
						<div class="label ">Codice *</div>
						<div class="field "><input class="inputfield" id="ifname" ng-model="transporter.transportercode" value="{{transporter.transportercode}}"  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields code">
						<div class="label ">Nome *</div>
						<div class="field "><input class="inputfield" id="ifname" ng-model="transporter.transportername" value="{{transporter.transportername}}"  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields code">
						<div class="label ">Cognome *</div>
						<div class="field "><input class="inputfield" id="ifname" ng-model="transporter.transportersurname" value="{{transporter.transportersurname}}"  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields code">
						<div class="label ">Codice Fiscale *</div>
						<div class="field "><input class="inputfield" id="ifname" ng-model="transporter.taxcode" value="{{transporter.taxcode}}"  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields code">
						<div class="label ">Partita Iva *</div>
						<div class="field "><input class="inputfield" id="ifname" ng-model="transporter.serialnumber" value="{{transporter.serialnumber}}"  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields code">
						<div class="label ">Attivo</div>
						<div class="field "><input class="inputfield" type="checkbox" id="ifname" ng-model="transporter.active" value="{{transporter.active}}"  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="transporter_container">
						<div class="fields code">
							<div class="label ">Targa *</div>
							<div class="field "><input class="inputfield" id="ifname" ng-model="transporter.platenumber" value="{{transporter.platenumber}}"  /></div>
							<div class="error" id="val_ifname" >Campo obbligatorio</div> 
						</div>
					</div>	
				</div>
			</div>
			
		</div>
		<div class="generaltable" ng-if="selectedSection == listsections[0]">
			<div class="transporter_address_detail">	
				<div class="contact">
					<div class="fields address">
						<div class="label">Indirizzo</div>
						<div class="field address"><input class="inputfield" ng-model="transporter.address.address" value="{{transporter.address.address}}" /></div>
						<div class="field number"><input class="inputfield" ng-model="transporter.address.number" value="{{transporter.address.number}}" /></div>
					</div>
					<div class="fields seventy">
						<div class="label mobile">Citt&#224;</div>
						<div class="field mobile"><input class="inputfield" ng-model="transporter.address.city" value="{{transporter.address.city}}" /></div>
					</div>
					<div class="fields tenth">
						<div class="label email">Provincia</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="transporter.address.zone" value="{{transporter.address.zone}}" /></div>
					</div>
					<div class="fields fifteen_right">
						<div class="label email">CAP</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="transporter.address.zipcode" value="{{transporter.address.zipcode}}" /></div>
					</div>
				</div>
			</div>
		</div>
		<div class="credentials" >
			<div class="credential">
				<div class="fields one_on_three_left">
					<div class="label phone">Ruolo</div>
					<div class="field phone"><select id="selrole" class="inputfield" ng-model="currentRole"    ng-options="role as role.name for role in roles" ></select></div>
				</div>
				<div class="fields one_on_three_left">
					<button ng-click="userTransporter()">Crea Utente</button>		
				</div>
				
			</div>
		</div>
		<div class="credentials" >
			<div class="credential">
				<div class="fields one_on_three_left">
					<div class="label phone">Telefono 1</div>
					<div class="field phone"><input class="inputfield" ng-model="transporter.contact.phone1" value="{{transporter.contact.phone1}}" /></div>
				</div>
				<div class="fields one_on_three_left">
					<div class="label phone">Telefono 2</div>
					<div class="field phone"><input class="inputfield" ng-model="transporter.contact.phone2" value="{{transporter.contact.phone2}}" /></div>
				</div>
				<div class="fields one_on_three_right">
						<div class="label email">Fax</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="transporter.contact.fax" value="{{transporter.contact.fax}}" /></div>
					</div>
			</div>
			<div class="credential">
				<div class="fields one_on_three_left">
						<div class="label mobile">Cellulare 1</div>
						<div class="field mobile"><input class="inputfield" ng-model="transporter.contact.mobile1" value="{{transporter.contact.mobile1}}" /></div>
					</div>
				<div class="fields one_on_three_left">
						<div class="label mobile">Cellulare 2</div>
						<div class="field mobile"><input class="inputfield" ng-model="transporter.contact.mobile2" value="{{transporter.contact.mobile2}}" /></div>
					</div>
				<div class="fields one_on_three_right">
					<div class="label email">Contatto</div>
					<div class="field email"><input id="ifemail" class="inputfield" ng-model="transporter.contact.reference" value="{{transporter.contact.reference}}" /></div>
				</div>
			</div>
			<div class="credential">
				<div class="fields">
						<div class="label email">Email 1</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="transporter.contact.email1" value="{{transporter.contact.email1}}" /></div>
					</div>
				<div class="fields right">
						<div class="label email">Email 2</div>
						<div class="field email"><input id="ifemail" class="inputfield" ng-model="transporter.contact.email2" value="{{transporter.contact.email2}}" /></div>
					</div>
			</div>
		</div>
	
		<!--div class="column_2_2 user" ng-if="selectedSection == listsections[0]">
				<div class="contact">
					<div class="fields">
						<div class="label name">Caratteri peso in Codice a Barre</div>
						<div class="field name"><input class="inputfield" id="ifname" ng-model="transporter.weightbarcode" value="{{transporter.weightbarcode}}"  /></div>
					</div>
					<div class="fields">
						<div class="label phone">Gestione Lotti</div>
						<div class="field phone"><input class="inputfield" type="checkbox" ng-model="transporter.manageserialnumber" value="{{transporter.manageserialnumber}}" /></div>
					</div>
					
				</div>
			</div-->
		<!--div class="generaltable">
			<div class="column_1_2 user">	
				<div class="info">
					<div class="fields">
						<div class="label name">Prezzo Acquisto </div>
						<div class="field name"><input class="inputfield" id="ifname" ng-model="transporter.sellprice" value="{{transporter.sellprice}}"  /></div>
					</div>
					<div class="fields">
						<div class="label name">Prezzo Vendita</div>
						<div class="field name"><input class="inputfield" id="ifname" ng-model="transporter.purchaseprice" value="{{transporter.purchaseprice}}"  /></div>
					</div>
					<div class="fields">
						<div class="label name">Aliquota</div>
						<div class="field role">
							<select id="seltaxrate" class="inputfield" ng-model="currentTaxRate"    ng-options="taxrate as taxrate.description for taxrate in taxrates" ></select>
						</div>
					</div>
				</div>
			</div>
			<div class="column_2_2 user">
				<div class="contact">
					<div class="fields">
						<div class="label name">Gruppo </div>
						<div class="field role">
							<select id="selgroup" class="inputfield" ng-model="currentGroup"    ng-options="group as group.name for group in groups" ></select>
						</div>
					</div>
					<div class="fields">
						<div class="label name">Categoria</div>
						<div class="field role">
							<select id="selcategory" class="inputfield" ng-model="currentCategory"    ng-options="category as category.name for category in categorys" ng-change="changeCategory()" ></select>
						</div>
					</div>
					<div class="fields">
						<div class="label name">Sottocategoria</div>
						<div class="field role">
							<select id="selsubcategory" class="inputfield" ng-model="currentSubCategory"    ng-options="subcategory as subcategory.name for subcategory in subcategories" ></select>
						</div>
					</div>
				</div>
			</div>
		</div-->
		<!--div class="credentials">
			<div class="credential">
				<div class="detailview"  >
						<div class="add_container" ng-click="addUMElement(transporter)">
							<div class="addlabel">
								Aggiungi Unit Misura 
							</div>
							<div class="add buttonicon">
							</div>
						</div>
						<div class="tabledetail">
							<div class="tabledetail_content transporter_ums">
								<div class="tabledetail_header">
									<div class="tabledetail_header_element tabledetail_row first">Codice</div>
									<div class="tabledetail_header_element tabledetail_row ">U.M</div>
									<div class="tabledetail_header_element tabledetail_row ">Preferenziale</div>
									<div class="tabledetail_header_element tabledetail_row">Conversione</div>
									<div class="tabledetail_header_element tabledetail_row modify">&nbsp;</div>
									<div class="tabledetail_header_element tabledetail_row delete">&nbsp;</div>
								</div>
								<div class="tabledetail_rows indetail" ng-repeat="list in transporter.ums | orderBy:orderYear" >
									<div class="tabledetail_row first">
										<div ng-if="listid != list.idUnitMeasureTransporter || list.code == transporter.code  ">&nbsp;{{list.code}}</div>
										<div><input ng-if="listid == list.idUnitMeasureTransporter && list.code != transporter.code"  ng-model="list.code"  value="{{list.code}}" />  </div>
									</div>
									<div class="tabledetail_row ">
										<div ng-if="listid != list.idUnitMeasureTransporter">&nbsp;{{list.um.code}}</div>
										<div><select ng-if="listid == list.idUnitMeasureTransporter" id="selcounter" class="inputfield" ng-model="currentUMP"    ng-options="um as um.code for um in ums" ng-change="list.um = currentUMP" ></select></div>
									</div>
									<div class="tabledetail_row ">
										<div ng-if="listid != list.idUnitMeasureTransporter">&nbsp;{{list.preference}}</div>
										<div><input ng-if="listid == list.idUnitMeasureTransporter" type="checkbox" ng-model="list.preference"  value="{{list.preference}}" />  </div>
									</div>
									<div class="tabledetail_row ">
										<div ng-if="listid != list.idUnitMeasureTransporter">&nbsp;{{list.conversion}}</div>
										<div><input ng-if="listid == list.idUnitMeasureTransporter" ng-model="list.conversion"  value="{{list.conversion}}" />  </div>
									</div>
									<a ng-click="changeUMElement(list)" ><div class="tabledetail_row modify"><div class="modifyicon"></div></div></a>
									<div class="tabledetail_row delete"><div class="deleteicon" id="del{{transporter.idTransporter}}" ng-click="deleteElement(transporter.idTransporter)"></div></div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div-->
	</div>
</div>