
	     <div class="content active" id="panel1" ng-hide="!tabs[1].disable">
        <form>
            <fieldset>
              <legend>Cliente</legend>
                <div class="row">

                    <div class="large-12 columns">
                      <label>Seleziona un Cliente 
                        <select  name="customerSelect" ng-options="c.customername for c in wiz.customerlist | orderBy:'customername'" ng-model="currentCustomer" ng-change="$parent.changeCustomer(currentCustomer)" >
           		 	<option value=""></option>
            	</select> 
                      </label>
                    </div>
                  </div>
            </fieldset>
          </form>
			
       </div>
    </div>
    
<div class="row" ng-show="wiz.head.customer">
		<div class="large-4 medium-6 small-12 columns">
			<label> Cliente </label>
		</div>
		<div class="large-8 medium-6 small-12 columns">
			<strong>{{wiz.head.customer.customername}}</strong>(codice cliente {{wiz.head.customer.customercode}})</strong>
		</div>
</div>
<div class="row" ng-show="wiz.head.customer ">
		<div class="large-4 medium-6 small-12 columns">
			<label> Indirizzo </label>
		</div>
		<div class="large-8 medium-6 small-12 columns">
			<strong>{{wiz.head.customer.address.address}} {{wiz.head.customer.address.number}}-{{wiz.head.customer.address.zipcode}}-{{wiz.head.customer.address.city}}</strong>
		</div>
</div>
<div class="row" ng-show="wiz.head.customer">
		<div class="large-4 medium-6 small-12 columns">
			<label> Recapiti </label>
		</div>
		<div class="large-8 medium-6 small-12 columns">
			<strong>{{wiz.head.customer.contact.phone1}} {{wiz.head.customer.contact.email1}}</strong>
		</div>
</div>
<div class="row" ng-show="wiz.head.customer">
		<div class="large-4 medium-6 small-12 columns">
			<label> Destinazione </label>
		</div>
		<div class="large-8 medium-6 small-12 columns">
			<strong>{{wiz.head.customer.customername}}</strong>
		</div>
</div>
<div class="row" ng-show="wiz.head.customer">
		<div class="large-4 medium-6 small-12 columns">
			<label> Consegna </label>
		</div>
		<div class="large-8 medium-6 small-12 columns">
			<strong>{{wiz.head.customer.address.address}} {{wiz.head.customer.address.number}}-{{wiz.head.customer.address.zipcode}}-{{wiz.head.customer.address.city}}</strong>
		</div>
</div>
<div class="row draft_display_pos1 btn_status show-for-small-only " ng-show="wiz.head.customer">
	<i class="fi-shopping-cart" ng-click="$parent.gotoStep2()" ng-hide="!tabs[1].disable" ></i>
</div>
<!-- 
    <div class="content active" id="panel2" ng-show="wiz.head.customer">
        <div class="small-12 ">
            <div class="info_cliente height-170">
                  <div class="large-2 columns">
                           <div class="cliente_img">
                          </div>  
                    </div>

                    <div class="large-5 columns">
                               <nav class="one">
                                    <ul class="clearfix">
                                       <li>CLIENTE:</li>             
                                       <li>INDIRIZZO:</li>  
                                       <li>TELEFONO:</li>                   
                                       <li>DESTINATARIO CONSEGNA:</li>                
                                       <li>INDIRIZZO CONSEGNA:</li>
                                       
                                    </ul>
                                </nav>
                    </div>

                         <div class="large-5 columns">
                               <nav class="two">
                                    <ul class="clearfix">
                                       <li><strong>{{wiz.head.customer.customername}}</strong>(codice cliente {{wiz.head.customer.customercode}})</li>                  
                                       <li>{{wiz.head.customer.address.address}} {{wiz.head.customer.address.number}}-{{wiz.head.customer.address.zipcode}}-{{wiz.head.customer.address.city}}</li>                    
                                       <li>{{wiz.head.customer.contact.phone1}} </li>                   
                                       <li></li>                 
                                       <li></li>
                                       
                                    </ul>
                                </nav>
                          </div>

            </div>

                        <div>
                          <ul class="button-group">
                            <li><button ng-click="$parent.gotoStep2()" ng-disabled="wiz.showDraftManage" class="button"><i class="fi-shopping-cart"></i></button></li>
                          </ul>
                        </div>


        </div>
    </div>
 -->
<div class="row show-for-small-only heads_list_item">

</div>